.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #222;
  padding-top: 60px;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.side-menu.open {
  left: 0;
}

.side-menu a {
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid #444;
  transition: background-color 0.3s ease;
}

.side-menu a:hover {
  background-color: #555;
}

.side-menu a.active {
  background-color: #007bff;
}

.menu {
 position: fixed;
  top: 15px;
  left: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 1100;   
}

.menu-button {
  flex-direction: row;
  top: 15px;
  left: 15px;
  font-size: 22px;
  background-color: #0d335d;
  color: white;
  border: none;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1100;
}

.blurred {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
  transition: filter 0.3s ease;
}

main {
  padding: 20px;
  transition: filter 0.3s ease;
  margin-left: 0; 
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.modal-window {
  background-color: #140a61;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: wheat;
}

.create {
  display: flex;
  justify-content: center;
}